body{
    font-family: 'Calibri';
    font-size: 17px;
    padding: 1em;
    background-color: #dbffd0; /* Por poner algo de fondo ¯\_(ツ)_/¯ */
}

input, button, select{
    font-size: 15px;
    font-weight: normal;
}

table{
    border: 1px solid black;
}

td{
    border: 1px dotted black;
    padding: .3em;
}

tbody {
  counter-reset: rowNumber;
}

tbody tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-right: 0.3em;
  text-align: center;
}

.draggable-table {
	position: absolute;
    border-collapse: collapse;
    background: white;
}
  
.draggable-table__drag {
    position: absolute;
    width: 100%;
    text-indent: 50px;
    z-index: 10;
    cursor: grabbing;
}

tr {
    cursor: grabbing;
}

tr.is-dragging {
    background: #f1c40f;
}

#revoluciones, #ppc {
	width: 60px;
}
